# ============================================================
# Auth Service
# ============================================================
AUTH_DB_USER=postgres
AUTH_DB_PASSWORD=postgres

JWT_SECRET=dev_secret_change_in_production
JWT_EXPIRY=15m

# ============================================================
# User Service
# ============================================================
USER_DB_USER=postgres
USER_DB_PASSWORD=postgres

# ============================================================
# Post Service
# ============================================================
POST_MONGO_USERNAME=admin
POST_MONGO_PASSWORD=admin

# ============================================================
# Notif Service
# ============================================================
NOTIF_MONGO_USERNAME=admin
NOTIF_MONGO_PASSWORD=admin

# ============================================================
# FRONTEND
# ============================================================
NEXT_PUBLIC_API_URL=http://localhost
