# ============================================================
# Auth Service
# ============================================================
AUTH_DB_USER=postgres
AUTH_DB_PASSWORD=CHANGE_ME_WITH_SECURE_AUTH_DB_PASSWORD

JWT_SECRET=CHANGE_ME_WITH_SECURE_JWT_SECRET
JWT_EXPIRES_IN=15m
SALT_ROUNDS=10

# ============================================================
# User Service
# ============================================================
USER_DB_USER=postgres
USER_DB_PASSWORD=CHANGE_ME_WITH_SECURE_USER_DB_PASSWORD

# ============================================================
# Post Service
# ============================================================
POST_MONGO_USERNAME=admin
POST_MONGO_PASSWORD=CHANGE_ME_WITH_SECURE_POST_MONGO_PASSWORD

# ============================================================
# Notif Service
# ============================================================
NOTIF_MONGO_USERNAME=admin
NOTIF_MONGO_PASSWORD=CHANGE_ME_WITH_SECURE_NOTIF_MONGO_PASSWORD

# ============================================================
# FRONTEND
# ============================================================
NEXT_PUBLIC_API_URL=https://api.yourdomain.com
